{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "modules": "commonjs",
        "targets": {
          "browsers": [
            "android >= 4.0",
            "chromeandroid >= 6",
            "ios >= 8"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "helpers": true,
        "corejs": '2',
        "regenerator": false
      }
    ]
  ]
}
