root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js, java, m, h, py}]
charset = utf-8
indent_style = space

[*.{js, java}]
indent_size = 2

[*.{m, h, py}]
indent_size = 4
