# Generic
.DS_Store
.idea/
cordova/
*.orig
*.gradle/
build/
**/*.iml
local.properties
**/*--

# iOS specific
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
project.xcworkspace/
xcuserdata/
Breakpoints_v2.xcbkptlist
DerivedData

src/ios/OneginiSDKiOS

# Android specific
src/android/.gradle
src/android/CordovaLib/build
src/android/build