# Generic
.DS_Store
.idea/
**/*.iml
*.orig
.gradle/
build/
local.properties
cordova/
**/*--

# iOS specific
src/ios/Pods
src/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
src/ios/OneginiCordovaPlugin.xcodeproj/project.xcworkspace/xcuserdata
src/ios/OneginiCordovaPlugin.xcodeproj/xcuserdata
src/ios/OneginiCordovaPlugin.xcworkspace/xcuserdata
src/ios/DerivedData
*.xccheckout

# Android specific
src/android/.gradle
src/android/CordovaLib/build
src/android/build

*.orig

.gradle/
build/
**/*.iml
local.properties
**/*--

*.bkssrc/ios/OneginiSDKiOS/Headers/*
src/ios/OneginiSDKiOS/*.a
src/ios/OneginiSDKiOS/*.tar