# Generic
**/*--

# Gradle files
.gradle/
build/

# Intellij project files
**/*.iml
*.ipr
*.iws
.idea/

# MAC_OSX
*.DS_Store

# Gitbook stuff
_book/
docs/site/
docs/node_modules/
docs/*/node_modules/
docs/public/javadocs
book.pdf
npm-debug.log

# iOS specific
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
project.xcworkspace/
xcuserdata/
Breakpoints_v2.xcbkptlist
DerivedData

src/ios/OneginiSDKiOS

# Android specific
local.properties

# Python specific
.python-version
tasks.pyc
__pycache__