<?xml version='1.0' encoding='utf-8'?>
<widget id="com.onegini.ExampleAppCordova" version="4.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>ExampleApp</name>
    <description>
        Onegini Cordova Example app
    </description>
    <author email="info@onegini.com" href="https://onegini.com">
        Onegini
    </author>
    <preference name="OneginiRootDetectionEnabled" value="false" />
    <preference name="OneginiDebugDetectionEnabled" value="false" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- Required to set minSdkVersion in app if cordova-plugin-onegini is included -->
        <preference name="android-minSdkVersion" value="16" />
        <!-- Necessary to make sure that the deep app linking works properly -->
        <preference name="AndroidLaunchMode" value="singleTask"/>
        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:allowBackup="false" />
            <application tools:replace="android:allowBackup, android:label, android:icon" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-dialogs" spec="~1.3.0" />
    <plugin name="cordova-plugin-onegini-fcm" spec="1.0.0" />
    <plugin name="cordova-plugin-pin-dialog" spec="~0.1.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-onegini" spec="^4.1.0" />
</widget>
