<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-onegini"
        version="2.0.0-SNAPSHOT">
  <name>OneginiCordovaPlugin</name>
  <description>Onegini Cordova Plugin</description>

  <!--<hook type="after_platform_add" src="hooks/configure_sdk.js" />-->
  <!--<hook type="before_plugin_install" src="hooks/resolve_dependencies.js" />-->

  <js-module src="www/onegini.js" name="onegini">
    <clobbers target="onegini"/>
  </js-module>
  <js-module src="www/device.js" name="device" />
  <js-module src="www/user.js" name="user" />
  <js-module src="www/utils.js" name="utils" />

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="OneginiCordovaClient">
        <param name="ios-package" value="OneginiCordovaClient"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <header-file src="src/ios/OneginiCordovaPlugin/Classes/Commons.h"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/Reachability.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/Reachability.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/OneginiCordovaClient.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/OneginiCordovaClient.m"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/XMLReader.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/XMLReader.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/PopupViewController.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/PopupViewController.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/PinViewController.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/PinViewController.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/PushConfirmationViewController.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/PushConfirmationViewController.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/PushWithPinConfirmationViewController.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/PushWithPinConfirmationViewController.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/PushWithFingerprintConfirmationViewController.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/PushWithFingerprintConfirmationViewController.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/MessagesModel.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/MessagesModel.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/CDVAppDelegate+Onegini.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/CDVAppDelegate+Onegini.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/OGNColorFileParser.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/OGNColorFileParser.m"/>
    <header-file src="src/ios/OneginiCordovaPlugin/Classes/UIColor+OGNHex.h"/>
    <source-file src="src/ios/OneginiCordovaPlugin/Classes/UIColor+OGNHex.m"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGAuthorizationDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGConfigModel.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGChangePinDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGDisconnectDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGLogoutDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGEnrollmentHandlerDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGOneginiClient.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGPublicCommons.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGPinValidationDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGResourceHandlerDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGFingerprintDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OGCustomizationDelegate.h"/>
    <header-file src="src/ios/OneginiSDKiOS/Headers/OneginiSDK.h"/>

    <source-file src="src/ios/OneginiSDKiOS/OneginiSDKiOS-5.00.00-Release-fat-binary.a" framework="true"/>

    <framework src="libiconv.dylib"/>
    <framework src="libc++.dylib"/>

  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OneginiClient">
        <param name="android-package" value="com.onegini.OneginiClient"/>
        <param name="onload" value="false"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.USE_FINGERPRINT" />
      <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
      <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
      <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="application/activity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme=""/> <!-- Intentionally Empty, SDK Configurator fills schemes from Token Server config. -->
      </intent-filter>
    </config-file>
    <!--config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.onegini.gcm.GcmIntentService" />
      <receiver
          android:name="com.onegini.gcm.GcmBroadcastReceiver"
          android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
          <category android:name="$PACKAGE_NAME" />
        </intent-filter>
      </receiver>
    </config-file-->

    <!-- Google Play Services, GCM -->
    <!--<framework src="com.google.android.gms:play-services-base:7.8.0" />-->
    <!--<framework src="com.google.android.gms:play-services-gcm:7.8.0" />-->
    <framework src="com.android.support:multidex:1.0.0" />

    <!-- Build gradle -->
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <!-- Onegini Plugin -->
    <source-file src="src/android/src/android/com/onegini/OneginiClient.java" target-dir="src/com/onegini/"/>
    <source-file src="src/android/src/android/com/onegini/OneginiSDK.java" target-dir="src/com/onegini/"/>
    <!-- handler -->
    <source-file src="src/android/src/android/com/onegini/handler/CreatePinRequestHandler.java"
                 target-dir="src/com/onegini/handler/"/>
    <source-file src="src/android/src/android/com/onegini/handler/InitializationHandler.java"
                 target-dir="src/com/onegini/handler/"/>
    <source-file src="src/android/src/android/com/onegini/handler/PinAuthenticationRequestHandler.java"
                 target-dir="src/com/onegini/handler/"/>
  </platform>
</plugin>
